src/META-INF/wsdl/localhost_8080/webservice/MailWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="EnviarCorreoSMTP" type="tns:EnviarCorreoSMTP"/>

<xs:element name="EnviarCorreoSMTPResponse" type="tns:EnviarCorreoSMTPResponse"/>

<xs:element name="validEmail" type="tns:validEmail"/>

<xs:element name="validEmailResponse" type="tns:validEmailResponse"/>

<xs:element name="validEmails" type="tns:validEmails"/>

<xs:element name="validEmailsResponse" type="tns:validEmailsResponse"/>

<xs:complexType name="EnviarCorreoSMTP">
<xs:sequence>
<xs:element name="Remitente" type="xs:string" minOccurs="0"/>
<xs:element name="Clave" type="xs:string" minOccurs="0"/>
<xs:element name="Para" type="xs:string" minOccurs="0"/>
<xs:element name="Copia" type="xs:string" minOccurs="0"/>
<xs:element name="Asunto" type="xs:string" minOccurs="0"/>
<xs:element name="Mensaje" type="xs:string" minOccurs="0"/>
<xs:element name="Servidor" type="xs:string" minOccurs="0"/>
<xs:element name="Puerto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviarCorreoSMTPResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validEmails">
<xs:sequence>
<xs:element name="emails" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validEmailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>